<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logoChat.png">
    <link rel="stylesheet" href="./css/home.css">
    <title>LiveChat</title>
</head>
<body>
    <img src="./images/logoChat.png" alt="Logo" class="logoHolder"> 

    <div class="div_get">
        <h1>Online <span id="live">LiveChat</span> </h1>
        <p id="content1">Have your best CHAT with everyone!</p>
        <!-- <p id="content2">It's never too late to fall in love.</p> -->
        <div class="hang">
            <p id="hangout"></p>
        <a class="btn_get" href="/views/username">Get Started</a>
        </div>
    </div>

    <div class="div"></div>
</body>
</html>